header {
    border: 3px solid black;
    height: 150px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color:  teal;
}

.underscores {
    border: 3px solid black;
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
    background-color: darkorange;
}

.rightLetters {
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
    background-color: #aec992
}

.wrongLetters {
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
    background-color:  darkred;
}

/* * {background-color: dimgray} */